__pycache__/
*.pyc
.DS_Store

.venv/
.env
.ipynb_checkpoints/

outputs/*
!outputs/.gitkeep

artifacts/*
!artifacts/.gitkeep

data/
checkpoints/
wandb/
mlruns/

*.pt
*.pth
*.ckpt
*.safetensors
*.h5
*.hdf5
